[::native-string :string
 ::plot-function [:=>
                  [:cat [:vector {:max 10} :double] [:vector {:max 11} :double]]
                  :double]
 ::TCanvas [:multi {:dispatch first}
            [:A [:=> :cat :nil]]
            [:B [:=> [:cat :string :string :int :int :int :int] :nil]]]
 ::Print [:multi {:dispatch first}
          [:A [:=> [:cat [:ref ::TCanvas] :string] :nil]]]
 ::TF1 [:multi {:dispatch first}
        [:A [:=>
             [:cat :string [:ref ::plot-function] :double :double :double]
             :nil]]
        [:native [:=>
                  [:cat :string [:ref ::native-string] :double :double :double]
                  :nil]]]
 ::Draw [:multi {:dispatch first}
         [:A [:=> [:cat [:ref ::TF1]] :nil]]]
 ::SetParameters [:multi {:dispatch first}
                  [:A [:=> [:cat [:ref ::TF1] :double :double] :nil]]]]
