[:map
 {:registry
  {::plot-function [:tuple
                    [:vector {:max 10} :double]
                    [:vector {:max 11} :double]
                    [:= :double]]
   ::R1R2->R [:tuple
              [:vector {:min 1 :max 1} :double]
              [:vector {:min 2 :max 2} :double]
              [:= :double]]
   ::int-to-double :int}}
 [:TCanvas [:map
            [:default [:cat]]
            [:B [:cat :string :string :int :int :int :int]]
            [:Print [:map
                     [:default [:cat :string]]]]]]
 [:TF1 [:map
        [:default [:cat :string ::plot-function :double :double :int]]
        [:XR2 [:cat :string ::R1R2->R :double :double [:enum 2]]]
        [:XR2-native [:cat :string [:enum 1 :args] :double :double [:enum 2]]]
        [:Draw [:map
                [:default [:cat]]]]
        [:SetParameters [:map
                         [:default [:cat :double :double]]
                         [:double_int [:cat :double ::int-to-double]]]]]]]
