[:map
 {:registry
  {::plot-function [:tuple
                    [:vector {:max 10} :double]
                    [:vector {:max 11} :double]
                    [:= :double]]
   ::R1R2->R [:tuple
              [:vector {:min 1 :max 1} :double]
              [:vector {:min 2 :max 2} :double]
              [:= :double]]
   ::pos :double
   ::pos-int :int}}
 [:TCanvas [:map
            [:minimal [:cat]]
            [:B [:cat :string :string :int :int :int :int]]
            [:Print [:map
                     [:default [:cat :string]]]]]]
 [:TF1 [:map
        [:XRN [:cat :string ::plot-function :double :double :int]]
        [:XR2 [:cat [:enum "\"XR2\""] ::R1R2->R :double :double [:enum 2]]]
        [:XR2-native [:cat [:enum "\"XR2\""] [:enum 1 :args] :double :double [:enum 2]]]
        [:Draw [:map [:minimal [:cat]]]]
        [:SetParameters [:map
                         [:XRN [:cat :double :double]]
                         [:linear [:map
                                   [:rtm [:map [:d ::pos-int] [:k ::pos]]]
                                   [:cxx [:cat :double :double]]]]]]]]]
