[:Types
 [:Functions
  [:plot-function double double[10] double[11]]]
 [:Classes
  [TCanvas
   [:A]
   [:B string string int int int int]
   [Print
    [:A null string]]]
  [TF1
   [:A string :plot-function double double double]
   [Draw
    [:A null]]
   [SetParameters
    [:A null double double]]]]]
