[:Types
 [:Functions
  [:plot-function double[10] double[11] -> double]]
 [:Classes
  [TCanvas
   [:A]
   [:B string string int int int int]
   [Print
    [:A string]]]
  [TF1
   [:A string :plot-function double double double]
   [:native string :native-string double double double]
   [Draw
    [:A]]
   [SetParameters
    [:A double double]]]]]
